<div class="container mt-5 mb-5">
  <h2>Your cart</h2>
</div>

<div class="container">
  <table class="table table-striped mt-5">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Size</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      <% total_price = 0 %>
      <% total_qty = 0 %>
      <% @items.each do |item| %>
        <tr>
          <td><%= item[0].title %></td>
          <td><%= item[0].size %></td>
          <td><%= item[0].price %></td>
          <td><%= item[1] %></td>
        </tr>
        <% total_price += item[0].price * item[1].to_i %>
        <% total_qty += item[1].to_i %>
      <% end %>
      <tr>
        <td><b>Final</b></td>
        <td></td>
        <td><b><%= total_price %> rub</b></td>
        <td><b><%= total_qty %></b></td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="mt-5 mb-5">

<div class="container col-md-8 mt-5 p-5 border rounded bg-light">
  <form class="" action="/place_order" method="post">

    <input type="hidden" name="order[orders_input]" value="<%= @orders_input %>">

    <div class="mb-3">
      <label class="form-label">Your name</label>
      <input name="order[name]" type="text" class="form-control">
    </div>

    <div class="mb-3">
      <label class="form-label">Your phone</label>
      <input name="order[phone]" type="text" class="form-control">
    </div>

    <div class="form-floating mb-4">
      <label>Delibery address</label>
      <textarea name="order[address]" class="form-control" placeholder="Type your address here" style="height: 100px"></textarea>
    </div>

    <button class="btn btn-primary btn-sm pr-5 pl-5" type="submit" name="button">Place this order</button>
  </form>
</div>
